# Ignore Mac system files
.DS_Store

# Ignore result
result/

# Ignore __pycache__
__pycache__/

# Ignore test
test/

# Skip config files
# config.json

# Ignore temp data
tmp/

# Ignore key files
llm_keys.yaml

# Ignore result dir
result*

*/logs/

llvm-*
*.zip

*/tmp

llvm/
